@import "tailwindcss";

@config "../../tailwind.config.js";

@utility text-fluid-sm {
  font-size: clamp(0.875rem, 0.8rem + 0.375vw, 1rem);
}

@utility text-fluid-base {
  font-size: clamp(1rem, 0.95rem + 0.25vw, 1.125rem);
}

@font-face {
  font-family: "Hey August";
  font-style: normal;
  font-weight: 400;
  src: local("Hey August"),
    url("https://fonts.cdnfonts.com/s/27783/Hey August.woff") format("woff");
}

@font-face {
  font-family: "Killuminati";
  font-style: normal;
  font-weight: 400;
  src: local("Killuminati"),
    url("https://fonts.cdnfonts.com/s/90071/KilluminatiIkiikocom-eZWRO.woff")
      format("woff");
}

@font-face {
  font-family: "The Art of Illuminating";
  font-style: normal;
  font-weight: 400;
  src: local("The Art of Illuminating"),
    url("https://fonts.cdnfonts.com/s/7966/ArtOfIlluminating.woff")
      format("woff");
}

.group:has([role="button"]) .VPSidebarItem.level-0 .items {
  padding-left: 16px !important;
  border-left: 1px solid var(--vp-c-divider);
  border-radius: 2px;
  transition: background-color 0.25s;
}

details[footnote] {
  &.custom-block {
    padding: 5px;
    background-color: var(--vp-c-bg-elv);
    font-size: 11px;
    &summary {
      background-color: var(--vp-c-bg-alt);
    }
  }
}

/* .content {
  h1,
  h2,
  h3 {
    font-family: "Hey August", sans-serif;
  }
} */

/* :root {
  --vp-c-bg: red;
} */
